tmp  
tmp/
cache/
*.swp
.netrwhist
.DS_Store
autoload/pathogen.vim
/sessions/
/cache
.VimballRecord
buildtags
/node_modules/
plugin/AnsiEscPlugin.vim
doc
doc/*
bundle/**/doc
autoload/*.vim
plugin/*.vim
bin/*
plugin/*.py
plugin/**/*.py
plugin/*.pyc
plugin/**/*.pyc
doc/
bundles_loaded/
bundle/vimproc/autoload/*
eclim/
plugged/
shada/
init.vim
.*~
autoload/plug.vim
autoload/plug.vim.*
log/*
