[submodule "vim-pathogen"]
	path = vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "autoload"]
	path = autoload
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-php-cs-fixer"]
	path = bundle/vim-php-cs-fixer
	url = git://github.com/stephpy/vim-php-cs-fixer.git
[submodule "tools/rulesets/php_psr1"]
	path = tools/rulesets/php_psr1
	url = git://github.com/klaussilveira/phpcs-psr1.git
[submodule "bundle/vim-autocorrect"]
	path = bundle/vim-autocorrect
	url = git://github.com/panozzaj/vim-autocorrect.git
[submodule "bundle/vim-preview"]
	path = bundle/vim-preview
	url = git://github.com/greyblake/vim-preview.git
[submodule "bundle/vim-xml"]
	path = bundle/vim-xml
	url = git://github.com/othree/xml.vim.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/vim-gist"]
	path = bundle/vim-gist
	url = git://github.com/mattn/gist-vim.git
[submodule "bundle/neocomplcache"]
	path = bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "bundle/vim-cappuccino"]
	path = bundle/vim-cappuccino
	url = git://github.com/nanki/vim-objj.git
[submodule "bundle/vim-handlebars"]
	path = bundle/vim-handlebars
	url = git://github.com/nono/vim-handlebars.git
[submodule "bundle/vim-underscore-templates"]
	path = bundle/vim-underscore-templates
	url = git://github.com/aaronj1335/underscore-templates.vim.git
[submodule "bundle/vim-mustache"]
	path = bundle/vim-mustache
	url = git://github.com/juvenn/mustache.vim.git
[submodule "bundle/jsbeautify"]
	path = bundle/jsbeautify
	url = git://github.com/xer0x/jsbeautify.git
[submodule "bundle/vim-css3"]
	path = bundle/vim-css3
	url = git://github.com/hail2u/vim-css3-syntax.git
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = git://github.com/groenewege/vim-less.git
[submodule "bundle/tlib-vim"]
	path = bundle/tlib-vim
	url = git://github.com/tomtom/tlib_vim.git
[submodule "bundle/tskeleton"]
	path = bundle/tskeleton
	url = git://github.com/tomtom/tskeleton_vim.git
[submodule "bundle/vim-taglist-plus"]
	path = bundle/vim-taglist-plus
	url = git://github.com/jameycribbs/vim-taglist-plus.git
[submodule "bundle/vim-tagbar"]
	path = bundle/vim-tagbar
	url = git://github.com/vim-scripts/Tagbar.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/xmledit"]
	path = bundle/xmledit
	url = git://github.com/sukima/xmledit.git
[submodule "bundle/vim-jade"]
	path = bundle/vim-jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/vim-pman"]
	path = bundle/vim-pman
	url = git://github.com/berkes/vim-pman.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = git://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/snipmate-snippets"]
	path = bundle/snipmate-snippets
	url = git://github.com/iwyg/snipmate-snippets.git
[submodule "bundle/vim-gundo"]
	path = bundle/vim-gundo
	url = git://github.com/sjl/gundo.vim.git
[submodule "bundle/vim-scss"]
	path = bundle/vim-scss
	url = git://github.com/cakebaker/scss-syntax.vim.git
[submodule "bundle/vim-tagbar-phpctags"]
	path = bundle/vim-tagbar-phpctags
	url = git://github.com/techlivezheng/tagbar-phpctags.git
[submodule "phpctags"]
	path = phpctags
	url = git://github.com/techlivezheng/phpctags.git
[submodule "bundle/vim-xdebug"]
	path = bundle/vim-xdebug
	url = git://github.com/ludovicPelle/vim-xdebug.git
[submodule "bundle/vim-phpunit"]
	path = bundle/vim-phpunit
	url = git://github.com/klokane/vim-phpunit.git
[submodule "bundle/vim-sql"]
	path = bundle/vim-sql
	url = git://github.com/LStinson/Vim.git
[submodule "bundle/vim-tlib"]
	path = bundle/vim-tlib
	url = git://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-tabular"]
	path = bundle/vim-tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/vim-neocomplcache"]
	path = bundle/vim-neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
