tmp  
tmp/
cache/
*.swp
.netrwhist
.DS_Store
autoload/pathogen.vim
/sessions/
/cache
.VimballRecord
buildtags
/node_modules/
plugin/AnsiEscPlugin.vim
doc
doc/*
bundle/**/doc
autoload/*.vim
plugin/*.vim
bin/*
plugin/*.py
plugin/**/*.py
plugin/*.pyc
plugin/**/*.pyc
doc/
